.container {
  max-width: 450px;
  background-color: rgb(223, 221, 221);
  min-height: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px gray;
  padding: 10px 50px;
}

.income-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.transaction-form input{
  width: 100%;
  padding: 5px;
  margin: 8px 0px;
  box-shadow: 0 0 10px gray;
}

.transaction-list {
  margin: 0;
  padding: 0;
}
.transaction-list > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px gray;
  margin: 8px 0;
  padding: 8px;
}
.submit-btn {
  color: white;
  background-color: rgb(170, 92, 170);
}